<div class="container">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>
  <div class="row">
    <form ng-submit="main.addClient()">
      <div class="col-sm-6 col-md-4">
        <label>
          Name:
          <input type="text" name="name" ng-model="main.client.name" />
        </label>
        <label>
          Last name:
          <input type="text" name="lastname" ng-model="main.client.lastname" />
        </label>
        <label>
          Organization:
          <input type="text" name="name" ng-model="main.organization.name" />
        </label>
      </div>
      <button type="submit">Save</button>
    </form>
    <div class="col-sm-6 col-md-4">
      <ul ng-repeat="client in main.clients">
        <li>{{ client.name }} {{ client.lastname }} ({{ client.organization.name}})</li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
